body{
  background-color: #efebdc;
}

#root {
  padding-bottom: 5%;
  padding-top: 5%;
}

.homePage {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

.table {
  width: 600px;
  height: 600px;
}

td {
  border: 1px solid black;
  padding: 0 0 0 0;
}

td.blank:hover {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Bomb_icon.svg/2000px-Bomb_icon.svg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

td.blank {
  background-color: lightBlue;
}

td.ship {
  background-color: purple;
}

td.miss {
  background-color: lightBlue;
  background-image: url("https://orig00.deviantart.net/8cc7/f/2012/148/c/4/water_splash_png_by_starlaa1-d51fse4.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

td.hit {
  background-color: red;
  background-image: url("http://hddfhm.com/images/clipart-comics-8.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

td.show {
  background-color: yellow;
}

span.shotCount {
  color: red;
}

div.table {
  padding: 10px 20% 0px 10%;
  text-align:center;
    margin-left:23%;
}

.inputName {
  display: inline-block;
  vertical-align:middle;
  border-radius: 5px;
  background-color: #FFF;
  border: none;
  color: #000;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button {
  display: inline-block;
  vertical-align:middle;
  border-radius: 5px;
  background-color: lightBlue;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
