body{
  background-color: #efebdc;
}

table {
  border-collapse: collapse;
}

td {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  padding: 0 0 0 0;
}

td.blank:hover {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Bomb_icon.svg/2000px-Bomb_icon.svg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

td.blank {
  background-color: lightBlue;
}

td.ship {
  background-color: purple;
}

td.miss {
  background-color: lightBlue;
  background-image: url("https://orig00.deviantart.net/8cc7/f/2012/148/c/4/water_splash_png_by_starlaa1-d51fse4.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

td.hit {
  background-color: red;
  background-image: url("http://hddfhm.com/images/clipart-comics-8.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

td.show {
  background-color: yellow;
}

span.shotCount {
  color: red;
}

div.table {
  padding: 10px 20% 0px 10%;
}
