table {
  border-collapse: collapse;
}

td {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  padding: 0 0 0 0;
}

td:hover {
  background-color: green;
}

td.ship {
  background-color: purple;
}

td.miss {
  background-color: blue;
}

td.hit {
  background-color: red;
}

span.shotCount {
  color: red;
}
